<h1>Help us out!</h1>

<p>We would like to add you demographic information!</p>

<p>This will help us provide the best and most impactful report for each user.</p>

<p><%= link_to "Sign in with Twitter", "/auth/twitter" %></p>

<p>Link: Or go straight to you demographic report</p>