
<h1>Twitter Diversity Report</h1>

<p>See a report of the various demographics represented by the people whom you follow on Twitter!</p>

<%= form_for @report, method: 'post' do |f| %>
  <div class="field">
    <%= f.label :user_name, "Enter a valid Twitter username" %>
    <%= f.text_field :user_name %>
  </div>
  <p>
    <%= f.submit %>
  </p>
<% end %>


	

