<h2>See a report of the various demographics represented by the people whom you follow on Twitter!</h2>

<div id= "twitter">
	<p>What's your Twitter username?</p>
</div>

<%= form_for @report, method: 'post' do |f| %>
  <div class="field">
    <%= f.text_field :user_name %>
  </div>
  <p>
    <%= f.submit("Submit") %>
  </p>
<% end %>


	

