<h1>Twitter Diversity Report<h1>

<%= form_for @user do |f| %>
  <p>
    <%= f.label(:name, "What is you Twitter username?") %>
    <%= f.text_field(:name) %>
  </p>
  <%= f.submit("Submit") %>
<% end %>

